[Unit]
Description=SNAP System Monitoring
After=auditd.service systemd-user-sessions.service time-sync.target
 
[Service]
User=root
TimeoutStartSec=0
Type=forking
PIDFile=/var/run/snap.pid
KillMode=process
WorkingDirectory=/opt/snap
ExecStart=/opt/snap/snap.pl --no-fork
#Restart=always
#RestartSec=2
LimitNOFILE=5555
 
[Install]
WantedBy=multi-user.target

# cp snap.service /lib/systemd/system
# systemctl daemon-reload
# systemctl enable snap.service
# systemctl start snap.service
